.pretty-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2874a7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.pretty-button:hover {
    background-color: #213488;
}
.auth-choose {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}
.auth-complete {
    display: flex;
    justify-content: space-around;
    width: 10rem;
}
.delimiter {
    font-size: 2.25rem;
    align-self: last baseline;
    width: 1rem;
}
.profile-data {
    display: flex;
    flex-direction: column;
    place-items: center;
}
.personal-data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.profile-btn {
    align-content: end;
}